*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #a3b1c0;
}

header{
    text-align: center;
    height: 10rem;
    align-content: center;
    background-color: #03045e;
    color: aliceblue;
    font-size: x-large;
}

.header-container{
    display: inline-flex;
    gap: 100px;
}

.main-container{
    height: 20rem;
    text-align: center;
    align-content: center;
}

button{
    border: 5px solid black;
    height: 7rem;
    width: 7rem;
    border-radius: 5rem;
    background-color: #2469b4;
    color: white;
    font-size: xx-large;
}

button:hover{
    border: 5px solid black;
    background-color: #2e74c0;
    height: 8rem;
    transition: height 0.2s;
}

.result-container{
    display: flex;
    gap: 50px;
    justify-content: center;
    font-size: 1.5rem;
}

.score-board{
    border-radius: 1rem;
    height: 5rem;
    width: auto;
    padding: 0 1rem 0 1rem;
    text-align: center;
    align-content: center;
}

.score-board p{
    margin: -10px;
}

.announce{
    border-radius: 1rem;
    height: 4rem;
    width: auto;
    padding: 0 1rem 0 1rem;
    text-align: center;
    align-content: center;
}

#reset{
    height: 3rem;
    padding: 0 1rem 0 1rem;
    font-size: larger;
    margin: 2rem 0 0 33rem;
    border-radius: 1rem;
    background-color: #03045e;
    color: aliceblue;
}
